<div>
  <form
    #todoForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="block border-slate-300 border-solid rounded border"
  >
    <div class="p-1 flex gap-x-1">
      <input
        type="text"
        id="title"
        required
        [(ngModel)]="title"
        name="title"
        class="order-2 grow focus:outline-none"
        placeholder="Add task"
      />
      <button
        type="submit"
        class="bg-slate-900 border-slate-900 border rounded-md p-2 text-white order-1 hover:text-slate-900 hover:bg-slate-100"
      >
        Add
      </button>
    </div>
  </form>
</div>
